/* font for title */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

/* font for questions */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


:root{
    --ffTitle:'Kaushan Script', cursive;
    --ffQuestions: 'Montserrat', sans-serif;
    --colorTitle: rgb(252, 197, 135);
    --backgrondColor: rgb(231, 248, 234);
    --colorText: rgb(49, 49, 49);
}


html{
    min-width: 100vw;
    min-height: 100vh;
}

body{
    margin: 0;
    min-height: 100vh;
    background-color: var(--backgrondColor);
    display: grid;
    place-items: center;
}

.center{
    text-align: center;
    width: 60%;
}

.title-section h2{
    text-transform: capitalize;
    font-family: var(--ffTitle);
    font-size: 3rem;
    margin-bottom: 50px;
    color: var(--colorTitle);
    margin-top: 0;
    min-width: 100%;
}

.question{
    min-width: 100%;
    box-sizing: border-box;
}


.btn{
    position: relative;
    display:flex;
    justify-content:space-around ;
    background-color: white;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}



@media (max-width: 850px) {

    body{
        display:block;
        margin: 80px 20px;

    }
    .center{
        min-width:500px ;
    }

    
    .btn{
        min-width: 500px;
        padding: 0 20px;
    }
    .title-section h2{
        white-space: nowrap;
    }

    .hiddenArticle{
        min-width: 500px;
    }
    .btn h3{
        white-space: nowrap;
    }
}

.btn h3{
    text-transform: capitalize;
    color: var(--colorText);
    font-family:var(--ffQuestions);
    font-weight: 200;
    
}


.buttons {
    border: 3px solid var(--colorTitle);
    cursor: pointer;
    transition: 0.4s linear;
    color: var(--colorTitle);
    margin-left: 120px;
    height: 25px;
    
}


.buttons:hover{
    transform: rotate(90deg);
}



/* Hidden Article */

.show-text .hiddenArticle{
    position: absolute;
    left: 0;
    top:50px;
    background-color: white;
    padding: 20px 20px;
    font-family: var(--ffQuestions);
    color: var(--colorText);
    text-align: left;
    border-bottom-right-radius:10px ;
    border-bottom-left-radius: 10px;
    display: block;
    z-index: 5;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 10px 8px 0px;
}


.hiddenArticle::before{
    content: " ";
    width: 90%;
    border: 1px solid rgba(0, 0, 0, 0.075);
    position: absolute;
    top: 3px;
}

.hiddenArticle{
    display: none;
}

.remove{
    display: none;
}

.show-text .remove{
    display:block;
}

.show-text .adder{
    display: none;
}
